@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<ul class="aboutUs">
    <li>
        <h3>George Gaylor</h3>
        <img src="https://i.imgur.com/ECFObFD.png" />
        <p>
            Maybe there was an old trapper that lived out here and maybe one day he went to check his beaver traps, and maybe he fell into the river and drowned. It's so important to do something every day that will make you happy. It looks so good, I might as well not stop. I'm going to mix up a little color. We’ll use Van Dyke Brown, Permanent Red, and a little bit of Prussian Blue.
        </p>
    </li>

    <li>
        <h3>Cameron Pam</h3>
        <img src="https://i.imgur.com/ECFObFD.png" />
        <p>
            Life is too short to be alone, too precious. Share it with a friend. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. Isn't that fantastic? Follow the lay of the land. It's most important. I thought today we would make a happy little stream that's just running through the woods here. Let's get crazy.
        </p>
    </li>

    <li>
        <h3>Erik Plyushko</h3>
        <img src="https://i.imgur.com/ECFObFD.png" />
        <p>
            We want to use a lot pressure while using no pressure at all. See. We take the corner of the brush and let it play back-and-forth. This is the way you take out your flustrations. From all of us here, I want to wish you happy painting and God bless, my friends. How to paint. That's easy. What to paint. That's much harder.
        </p>
    </li>

    <li>
        <h3>Thomas Reyes</h3>
        <img src="https://i.imgur.com/ECFObFD.png" />
        <p>
            There comes a nice little fluffer. In your world you can create anything you desire. All you have to learn here is how to have fun. You've got to learn to fight the temptation to resist these things. Just let them happen. Let's build some happy little clouds up here. No worries. No cares. Just float and wait for the wind to blow you around.
        </p>
    </li>
</ul>
